In [76]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

In [77]:
df = pd.read_csv("test_scores.csv")
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [96]:
math1 = df.math
cs = df.cs
m = math1.to_numpy()
c = cs.to_numpy()
n = len(cs)
iterations = 1000
learningRate = 0.001

In [116]:
%matplotlib inline
def gradientDescent(m, c):
    m_curr = b_curr = 0
    cost_prev = 0
    cs_predicted = m_curr * m + b_curr
    cost = (1/n)*sum((c - cs_predicted)**2)
    for i in range(iterations):
        print("maths scores = {0}, computer science scores = {1}, computer science predicted = {2}, cost = {3}".format(m, c, cs_predicted, cost))
        p_m = -(2/n)*sum(m*(c-cs_predicted))
        p_b = -(2/n)*sum(c - cs_predicted)
        m_curr = m_curr - learningRate * p_m
        b_curr = m_curr - learningRate * p_b
        if math.isclose(cost, cost_prev, rel_tol = 1e-09, abs_tol = 0.0):
            break
        cost_prev = cost
    return(m_curr, b_curr)

SyntaxError: 'break' outside loop (715962236.py, line 8)

In [117]:
gradientDescent(m,c)

maths scores = [92 56 88 70 80 49 65 35 66 67], computer science scores = [98 68 81 80 83 52 66 30 68 73], computer science predicted = [0 0 0 0 0 0 0 0 0 0], cost = 5199.1

(9.891800000000002, 10.031600000000001)